body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: teal;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color: white;
}
h1{
    color: blue;
}